vendor/
**/vendor/
.phpunit.result.cache
.phpunit.cache/
**/.phpunit.cache/
composer.lock
.env
.env.*
!.env.example
node_modules/
**/node_modules/
apps/saas-dashboard/.env
apps/saas-dashboard/storage/logs/*.log
apps/saas-dashboard/storage/framework/cache/*
apps/saas-dashboard/storage/framework/sessions/*
apps/saas-dashboard/storage/framework/views/*
.idea/
.vscode/
.DS_Store
